@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}
section {
  min-height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  padding-top: 20px;
}
.container {
  max-width: 80%;
  margin: auto;
}
button {
  width: 100px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 15px;
  border: 2px solid #009688;
  background: transparent;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  animation: opacity 2.5s both;
}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.btn {
  display: none;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  transition: 0.5s;
}
button:hover {
  scale: 0.95;
}
.navbar-links li a:hover {
  color: red;
}
.bars {
  position: absolute;
  width: 30px;
  height: 20px;
  right: 0rem;
  top: 0.8rem;
  display: none;
}
/* text box qow keldinoz */
.text-box {
  /* text-align: center; */
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 30%;
  left: 14%;
  max-width: 700px;
  line-height: 45px;
  animation: scale 1.5s both;
  
}
.text-box h1 {
  margin: 20px 0;
  box-shadow: 5px 5px 5px black;
  animation: scale 1.5s both;
}
.arrow{
  position: absolute;
  top: 77%;
  left: 30%;
}
.sp{
  text-transform: uppercase;
  font-size: 20px;
  color: whitesmoke;
}
@keyframes scale {
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.rocket{
  position: absolute;
  margin: 100px 100px 300px 800px;
  position: relative;
  animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
}
/* mobile section  1 */
@media (max-width: 760px) {
  .btn {
    display: block;
  }
  .brand-title {
    padding: 0 10px;
  }
  .buttons {
    display: none;
  }
  section {
    padding-top: 0px;
  }
  .container {
    max-width: 100%;
    margin: auto;
  }
  .navbar-links li:hover {
    background-color: #009688;
  }
  .navbar {
    background-color: #000;
    color: #fff;
  }
  .bars {
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li {
    display: block;
    text-align: center;
    margin-top: 7px;
  }
  .navbar-links li a {
    color: #fff;
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 10px;
  }
}
/* navbar end */
/* footer */
.footer {
  min-height: 10vh;
  padding-top: 10px;
  background: #000;
}
.footer-content {
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

/* slider */
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-cont {
  max-width: 1200px;
  width: 100%;
  /* background-color: grey; */
  padding: 40px 0;
}
.slide-contest {
  margin: 0 40px;
  overflow: hidden;
}
.card {
  /* width: 350px;  */
  border-radius: 25px;
  background-color: white;
}
.image,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image {
  position: relative;
  row-gap: 5px;
  background-color: #4158d0;
  border-radius: 25px 25px 25px 25px;
  padding: 35px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
  border-radius: 25px 25px 25px 25px;
}
.card-image {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 3px;
  border: 3px solid white;
}
.card-image .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid blue;
}
.course-name {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.desc {
  padding-top: 10px;
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.btn3 {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: blue;
  border-radius: 6px;
  margin: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn3:hover {
  background: #009688;
}
.swiper-navBtn {
  color: #6e93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #4070f4;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 50px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}
@media screen and (max-width: 768px) {
  .slide-contest {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
/* slider end */
