@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}
section {
  min-height: 100vh;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  padding-top: 20px;
}
.container {
  max-width: 80%;
  margin: auto;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  color: #000;
  text-decoration: none;
}
nav ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: red;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}

button {
  width: 130px;
  padding: 12px 0;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #009688;
  background: transparent;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span {
  background: red;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span {
  width: 100%;
}
button:hover {
  border: none;
}
