@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #fff;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 16px #ccc;
  padding: 25px 50px;
  max-width: 00px;
}
form {
  display: flex;
  flex-direction: column;
}
form h1 {
  align-self: center;
  margin-bottom: 10px;
  letter-spacing: 10px;
}
.ati-zhoni-box {
  display: flex;
}
.input-box {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 8px 10px 15px;
}
label {
  text-transform: uppercase;
  letter-spacing: 2px;
}
input {
  width: 100%;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid #000;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
input:focus {
  border-bottom: 2px solid #1a73a8;
}
button {
  text-align: center;
  border-radius: 50px;
  border: none;
  background: #c31432;
  color: #fff;
  align-self: center;
  letter-spacing: 4px;
  padding: 10px 50px;
}
button:active {
  scale: 0.95;
}
.input-box.success input {
  border-color: #09c372;
}
.input-box.error input {
  border-color: #ff3860;
}
.input-box .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
